.article {
    &__h2 {
        font-family: "Roboto";
        font-size: 14px;
        color: #3a30f8;
        text-align: center;
        margin-top: 67px;
    }
    &__h3 {
        font-family: "Rubik Mono One";
        font-size: 24px;
        color: #000;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 53px;
    }
    &__span {
        font-family: "Roboto";
        font-size: 16px;
        color: #000;
        font-weight: 300;
        margin-left: 19px;
        display: block;
        line-height: 30px;
    }
    &__body {
        padding-top: 26px;
    }
    &__list {
        padding-top: 20px;
    }
    &__list-elem {
        font-family: "Roboto";
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
        padding-left: 59px;
        margin-bottom: 5px;
    }
}